/*for large screens*/
/*default settings body*/
body {
	background: linear-gradient(to bottom, #728FCE 0%,
				#FFFFFF 100%);
	font-family:'PT Sans Narrow', Arial, sans-serif ;
}
/*default div for responsiveness
#wrapper {
    margin-right: 40px;
	margin-left: 40px;
	/*margin: auto;
	height: auto;
	position: relative;
	background-color: #728FCE;
	box-shadow: 5px 5px 5px #666666;
}*/
/*default header*/
header {
	/*line-height: 0.3;
	background-color: #EDDA74;*/
	padding-bottom: 6px;
	padding-top: 3px;
	box-shadow: 0 5px 0px 0 rgba(7, 5, 5, 0.2);
}
/*default heading 1*/
h1 {
	/*width: 480px;
	text-align: center;*/
	font-family:'Herr Von Muellerhoff', Arial, sans-serif;
	/*font-size: 48pt;
	font-weight: 400;
	margin-left: 30%;*/
}
/*default heading 2*/
h2 {
	/*width: 320px;
	text-align: center;*/
	font-family:'PT Sans Narrow', Arial, sans-serif ;
	font-size: 32pt;
	font-weight: bold;
	/*margin-left: 38%;*/
}
/*default heading 3*/
h3 {
	/*width: 110px;
    text-align: center;*/
	font-family:'PT Sans Narrow', Arial, sans-serif ;
	font-weight: bold;
	/*margin-left: 45.5%;*/
}
/*default navigation*/
/*nav {
	margin-left: 41%;
	text-align: center;
	color: #00FFFF;
	width: 240px;
	height: 50px;
}
nav ul { 
	list-style-type: none;
	margin: 2em;
	padding: 0;
}
nav ul li {
	font-family:'PT Sans Narrow', Arial, sans-serif ;
	font-size: 12pt;
	display: inline;
	margin: .5em;
}*/

a:link {
	color: #00FFFF;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: green;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: #EDDA74;
	background-color: transparent;
	text-decoration: underline;
}

/*specific to index (home) page*/
/*#cross1 {
	float: left;
	margin-left: 20px;
}
#cross2 {
	float: right;
	margin-right: 20px;
}
#portrait {
	margin-left: 34%;
}
#dad_home {
    border: 15px ridge #6f4e37;
}
#smallpics {
    margin-left: 25%;
}
#small_pic1, #small_pic2, #small_pic3 {
    float: left;
    margin: 10px;
}
#dad69 {
	border: 1px solid black;
	box-shadow: 5px 5px 5px #666666;
}
#pastor_cake {
	border: 1px solid black;
	box-shadow: 5px 5px 5px #666666;
}
#dad_jakir {
	border: 1px solid black;
	box-shadow: 5px 5px 5px #666666;
}
#pic_cap2, #pic_cap3, #pic_cap4 {
    font-style: italic;
    text-align: center;
}
#home_intro {
    margin-left: 37px;
    margin-right: 37px;
	margin-top: 23%;
	text-align: center;
	line-height: 1.6;
	border: 1px solid black;
	font-family:'PT Sans Narrow', Arial, sans-serif ;
}
#link {
	text-align: center;
	margin-left: 60%;
	width: 300px;
}
#link a:hover {
	background-color: #EDDA74;
}
/*default footer*/
footer {
	font-family:'PT Sans Narrow', Arial, sans-serif ;
	/*font-size: 0.70em;
	text-align: center;
	font-style: italic;
	padding: 5px;
	margin-left: 0;
	background-color: #EDDA74;*/
}
/*footer nav ul li {
	padding: 10px;
	font-size: 0.90em;
}
footer nav ul li a:link {
	color: #00FFFF;
	background-color: transparent;
	text-decoration: none;
}
footer nav ul li a:visited {
	color: green;
	background-color: transparent;
	text-decoration: none;
}
footer nav ul li a:hover {
	color: #EDDA74;
	background-color: green;
	text-decoration: underline;
}

/*About page
#all_columns {
    margin-bottom: 133%;
    margin-left: 1%;
}
#column1, #column2, #column3 {
	width: 420px;
	float: left;
	font-family:'PT Sans Narrow', Arial, sans-serif ;
	line-height: 1.3;
    padding: 2px;
    margin: 5px;
}
.column1 h4 {
	line-height: .1;
}
.column2 h4 {
	line-height: .1;
}
.column3 h4 {
	line-height: .1;
}
#james_fishing {
	margin: 2px;
	border: 1px solid black;
	float: left;
}
#superbee {
	margin: 2px;
	border: 1px solid black;
	float: right;
}
#youngbrown {
	margin: 2px;
	border: 1px solid black;
	float: left;
}
#mondoed {
	margin: 2px;
	border: 1px solid black;
	float: right;
}
#framed {
	margin: 2px;
	border: 1px solid black;
	float: left;
}
.bpp_links {
	text-align: center;
	font-size: 9pt;
    font-style: italic;
}
.bpp_links a:hover {
	background-color: #EDDA74;
}
#momdad {
	border: 1px solid black;
	float: right;
}
#busdrive {
	margin: 2px;
	float: left;
	border: 1px solid black;
}
#taxform {
	margin: 2px;
	float: left;
	border: 1px solid black;
}
#dad_baby {
	margin: 2px;
	border: 1px solid black;
	float: right;
}
#storepic {
	margin: 2px;
	border: 1px solid black;
	float: right;
}
#marriage {
	border: 1px solid black;
	float: right;
}
#chef_james {
	border: 1px solid black;
    width: 419px;
}
#dad_carve {
	margin: 2px;
	border: 1px solid black;
	float: right;
}
#baptism {
	margin: 2px;
	border: 1px solid black;
	float: right;
}
#church_service {
	margin: 2px;
	border: 1px solid black;
	float: left;
}
#daddorothy {
	margin: 2px;
	border: 1px solid black;
	float: right;
}

Hobbies page
#hobby_columns {
    margin-bottom: 60%;
    margin-left: 1%;
}
#hobby1, #hobby2, #hobby3 {
	width: 430px;
	float: left;
	font-family:'PT Sans Narrow', Arial, sans-serif ;
	line-height: 1.3;
	text-align: center;
    margin: 3px;
}
#kimball {
    width: 380px;
    margin-left: -4%;
	border: 1px solid black;
}
#cartech {
    width: 380px;
    margin-left: -4%;
	border: 1px solid black;
}
#catering {
    width: 380px;
    margin-left: -4%;
	border: 1px solid black;
}
.piano_link a:hover {
	background-color: #EDDA74;
}
.auto_link a:hover {
	background-color: #EDDA74;
}
.food_link a:hover {
	background-color: #EDDA74;
}

@media only screen and (min-width: 1201px) and (max-width: 1376px) {
	h1 {
		margin-left: 40%;
	}
	h2 {
		margin-left: 37%;
	}
	nav {
		margin-left: 40%;
	}
	#portrait {
		margin-left: 32%;
	}
	#smallpics {
		margin-left: 23%;
	}
	#home_intro {
		margin-top: 30%;
	}

	About page
	#all_columns {
		margin-bottom: 180%;
	}
	#column1, #column2, #column3 {
		width: 350px;
	}
	#james_fishing {
		width: 175px;
	}
	#superbee {
		width: 175px;
	}
	#youngbrown {
		width: 175px;
	}
	#mondoed {
		width: 175px;
	}
	#framed {
		width: 175px;
	}
	#momdad {
		width: 175px;
	}
	#busdrive {
		width: 175px;
	}
	#taxform {
		width: 175px;
	}
	#dad_baby {
		width: 175px;
	}
	#storepic {
		width: 175px;
	}
	#marriage {
		width: 240px;
		float: right;
	}
	#chef_james {
		width: 345px;
	}
	#dad_carve {
		width: 175px;
	}
	#baptism {
		width: 175px;
	}
	#church_service {
		width: 175px;
	}
	#daddorothy {
		width: 175px;
	}

	Hobbies page
	#hobby_columns {
		margin-bottom: 65%;
	}
	#hobby1, #hobby2, #hobby3 {
		width: 360px;
	}
	#kimball {
		width: 320px;
		margin-left: -8%;
		border: 1px solid black;
	}
	#cartech {
		width: 320px;
		margin-left: -8%;
		border: 1px solid black;
	}
	#catering {
		width: 320px;
		margin-left: -8%;
		border: 1px solid black;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	h1 {
		margin-left: 27%;
	}
	h2 {
		margin-left: 35%;
	}
	nav {
		margin-left: 39%;
	}

	/*Home(index) page
	#cross1, #cross2 {
		width: 180px;
		height: 515px;
	}
	#portrait {
		margin-left: 33%;
	}
	#dad_home {
		width: 330px;
	}
	#smallpics {
		margin-left: 18%;
	}
	#pic_cap1, #pic_cap2, #pic_cap3, #pic_cap4 {
        font-size: 10pt;
        font-style: italic;
    }
	#home_intro {
		margin-top: 30%;
	}

	/*About page
	#all_columns {
		margin-bottom: 240%;
	}
	#column1, #column2, #column3 {
		width: 295px;
	}
	#james_fishing {
		width: 165px;
	}
	#superbee {
		width: 165px;
	}
	#youngbrown {
		width: 165px;
	}
	#mondoed {
		width: 165px;
	}
	#framed {
		width: 165px;
	}
	#momdad {
		width: 165px;
	}
	#busdrive {
		width: 165px;
	}
	#taxform {
		width: 165px;
	}
	#dad_baby {
		width: 165px;
	}
	#storepic {
		width: 165px;
	}
	#marriage {
		width: 230px;
		float: right;
	}
	#chef_james {
		width: 293px;
	}
	#dad_carve {
		width: 165px;
	}
	#baptism {
		width: 165px;
	}
	#church_service {
		width: 165px;
	}
	#daddorothy {
		width: 165px;
	}

	/*Hobbies page
	#hobby_columns {
		margin-bottom: 80%;
	}
	#hobby1, #hobby2, #hobby3 {
		width: 300px;
	}
	#kimball {
		width: 275px;
		margin-left: -10%;
		border: 1px solid black;
	}
	#cartech {
		width: 275px;
		margin-left: -10%;
		border: 1px solid black;
	}
	#catering {
		width: 275px;
		margin-left: -10%;
		border: 1px solid black;
	}
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
	h1 {
		margin-left: 5%;
	}
	h2 {
		margin-left: 25.5%;
	}
	h3 {
		margin-left: 40%;
	}
	nav {
		margin-left: 31%;
	}
	#cross1, #cross2 {
		width: 130px;
		height: 515px;
	}
	#portrait {
		margin-left: 24%;
	}
	#dad_home {
		width: 330px;
	}
	#dad69, #pastor_cake, #dad_jakir {
		width: 140px;
	}
	#smallpics {
		margin-left: 17%;
	}
	#small_pic1, #small_pic2, #small_pic3 {
		margin: 6px;
	}
	#pic_cap1, #pic_cap2, #pic_cap3, #pic_cap4 {
        font-size: 8pt;
        font-style: italic;
    }
	#home_intro {
		margin-top: 30%;
	}
	#link {
		margin-left: 49%;
	}
	
	/*About page
	#all_columns {
		margin-left: 13%;
		margin-bottom: 630%;
	}
	#column1, #column2, #column3 {
		width: 480px;
	}
	#taxform {
		float: right;
	}

	/*Hobbies page
	#hobby_columns {
		margin-left: 17%;
		margin-bottom: 270%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	#wrapper {
		margin: 0;
		border-collapse: collapse;
		box-shadow: none;
	}
	h1 {
		font-size: 38pt;
		margin-left: -1%;
	}
	h2 {
		margin-left: 16%;
	}
	h3 {
		margin-left: 38%;
		font-size: 12pt;
	}
	nav {
		margin-left: 23.5%;
	}
	/*Home(index) page
	#cross1, #cross2 {
		display: none;
	}
	#portrait {
		margin-left: 23%;
	}
	#dad_home {
		width: 230px;
	}
	#dad69, #pastor_cake, #dad_jakir {
		width: 120px;
	}
	#smallpics {
		margin-left: 20%;
	}
	#small_pic3 {
		margin-left: 20%;
	}
	#pic_cap2, #pic_cap3, #pic_cap4 {
        font-size: 9pt;
        font-style: italic;
    }
	#home_intro {
		margin-top: 84%;
	}
	#link {
		margin-left: 28%;
	}

	/*About page
	#all_columns {
		margin-left: 3%;
		margin-bottom: 1050%;
	}

	/*Hobbies page
	#hobby_columns {
		margin-left: 3%;
		margin-bottom: 395%;
	}
}

@media only screen and (min-width: 412px) and (max-width: 480px) {
	#wrapper {
		margin: 0;
		border-collapse: collapse;
		box-shadow: none;
	}
	h1 {
		font-size: 24pt;
		margin-left: -10%;
	}
	h2 {
		font-size: 28pt;
		margin-left: 9.5%;
	}
	h3 {
		font-size: 10pt;
		margin-left: 35%;
	}
	nav {
		margin-left: 20%;
	}

	/*Home(index) page
	#cross1, #cross2 {
		display: none;
	}
	#portrait {
		margin-left: 20%;
	}
	#dad_home {
		width: 200px;
	}
	#smallpics {
		margin-left: 30%;
	}
	#dad69, #pastor_cake, #dad_jakir {
		width: 135px;
	}
	#pic_cap1, #pic_cap2, #pic_cap3, #pic_cap4 {
        font-size: 9pt;
        font-style: italic;
    }
	#home_intro {
		margin-top: 165%;
	}
	#link {
		width: 150px;
		margin-left: 28%;
	}

	/*About page
	#all_columns {
		margin-bottom: 1200%;
	}
	#column1, #column2, #column3 {
		width: 365px;
	}
	#james_fishing {
		width: 150px;
	}
	#superbee {
		width: 150px;
	}
	#youngbrown {
		width: 150px;
	}
	#mondoed {
		width: 150px;
	}
	#framed {
		width: 150px;
	}
	#momdad {
		width: 150px;
	}
	#busdrive {
		width: 150px;
	}
	#taxform {
		width: 150px;
	}
	#dad_baby {
		width: 150px;
	}
	#storepic {
		width: 150px;
	}
	#marriage {
		width: 215px;
		float: right;
	}
	#chef_james {
		width: 364px;
	}
	#dad_carve {
		width: 150px;
	}
	#baptism {
		width: 150px;
	}
	#church_service {
		width: 150px;
	}
	#daddorothy {
		width: 150px;
	}

	/*Hobbies page
	#hobby_columns {
		margin-left: 3%;
		margin-bottom: 405%;
	}
	#hobby1, #hobby2, #hobby3 {
		width: 366px;
	}
	#kimball {
		width: 250px;
		margin-left: -1%;
		border: 1px solid black;
	}
	#cartech {
		width: 250px;
		margin-left: -1%;
		border: 1px solid black;
	}
	#catering {
		width: 250px;
		margin-left: -1%;
		border: 1px solid black;
	}
}



@media only screen and (min-width: 320px) and (max-width: 411px) {
	#wrapper {
		margin: 0;
		border-collapse: collapse;
		box-shadow: none;
	}
	h1 {
		font-size: 24pt;
		margin-left: -28%;
	}
	h2 {
		font-size: 28pt;
		margin-left: -3%;
	}
	h3 {
		font-size: 10pt;
		margin-left: 31%;
	}
	nav {
		margin-left: 10%;
	}

	/*Home(index) page
	#cross1, #cross2 {
		display: none;
	}
	#portrait {
		margin-left: 13%;
	}
	#dad_home {
		width: 200px;
	}
	#smallpics {
		margin-left: 30%;
	}
	#dad69, #pastor_cake, #dad_jakir {
		width: 105px;
	}
	#pic_cap1, #pic_cap2, #pic_cap3, #pic_cap4 {
        font-size: 9pt;
        font-style: italic;
    }
	#home_intro {
		margin-top: 165%;
	}
	#link {
		width: 150px;
		margin-left: 16%;
	}

	/*About page
	#all_columns {
		margin-bottom: 1990%;
	}
	#column1, #column2, #column3 {
		width: 278px;
	}
	#james_fishing {
		width: 150px;
	}
	#superbee {
		width: 150px;
	}
	#youngbrown {
		width: 150px;
	}
	#mondoed {
		width: 150px;
	}
	#framed {
		width: 150px;
	}
	#momdad {
		width: 150px;
	}
	#busdrive {
		width: 150px;
	}
	#taxform {
		width: 150px;
	}
	#dad_baby {
		width: 150px;
	}
	#storepic {
		width: 150px;
	}
	#marriage {
		width: 215px;
		float: right;
	}
	#chef_james {
		width: 277px;
	}
	#dad_carve {
		width: 150px;
	}
	#baptism {
		width: 150px;
	}
	#church_service {
		width: 150px;
	}
	#daddorothy {
		width: 150px;
	}

	/*Hobbies page
	#hobby_columns {
		margin-bottom: 550%;
	}
	#hobby1, #hobby2, #hobby3 {
		width: 296px;
	}
	#kimball {
		width: 200px;
		margin-left: -4%;
		border: 1px solid black;
	}
	#cartech {
		width: 200px;
		margin-left: -4%;
		border: 1px solid black;
	}
	#catering {
		width: 200px;
		margin-left: -4%;
		border: 1px solid black;
	}
}
@media only screen and (min-width: 915px) and (orientation: landscape) {
	h1 {
		margin-left: 19%;
	}
	h2 {
		margin-left: 30%;
	}
	h3 {
		margin-left: 43%;
	}
	nav {
		margin-left: 35%;
	}

	/*Home(index) page
	#portrait {
		margin-left: 27.9%;
	}
	#smallpics {
		margin-left: 22%;
	}

	/*About page
	#all_columns {
		margin-left: 15%;
		margin-bottom: 490%;
	}
	#column1, #column2, #column3 {
		width: 550px;
	}
	.bpp_links {
		margin-top: 5%;
	}
	#chef_james {
		width: 548px;
	}

	/*Hobbies page
	#hobby_columns {
		margin-left: 15%;
		margin-bottom: 220%;
	}
	#hobby1, #hobby2, #hobby3 {
		width: 560px;
	}
	#kimball {
		margin-left: 1%;
	}
	#cartech {
		margin-left: 1%;
	}
	#catering {
		margin-left: 1%;
	}
}
